/* EventHeader.css */
.top-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:90%;
}
.box-1{
    background-color: #0d6efd;
    padding: 20px;
    width: 96.7%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.logo-container{
    margin-bottom: 10px;
    text-align: left;
    width:140px;
    display: inline-flex;
}
  
.logo{
    width: 100px;
    height: auto;
}
.booth-name{
    color: #f8f9fa;
    text-align: center;
    margin-left: 100px;
}
.event-details{
    text-align: center;
    margin-right: -100px;
}
  
.event-title{
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    color: #f8f9fa; 
}
  
.event-date{
    font-size: 16px;
    margin-top: 5px;
    color: #d1d1d1;
}
  
.nav-links{
    margin-top: 10px;
    margin-left: 70px;
    display: flex;
    justify-content: center;
    width: 80%;
}
  
.nav-link{
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 17px;
    transition: text-decoration-color 1s ease;
}
  
.nav-link:hover {
    color: #ffdd40;
    text-decoration: underline;
    cursor: pointer;
    transition: text-decoration-color 1s ease;
}

@media (max-width: 768px){
.event-header{
      padding: 10px;
}
  
.logo{
      width: 70px;
}
  
.event-title{
      font-size: 28px;
}
  
.event-date{
      font-size: 14px;
}
  
.nav-link{
      font-size: 14px;
      margin: 0 15px;
}
}
  
/* Styling for image carousel */
.image-carousel {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; /* Set the height smaller */
    overflow: hidden;
  }
  
.carousel-image {
    width: 200px; /* Adjust the width to make the image smaller */
    height: auto;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out; /* Smooth transition for images */
  }
  
.carousel-image:not(:first-child) {
    display: none;
  }
  
nav {
    margin-top: 20px;
  }
  
  
  