.main-content {
    margin-left: 250px;
    margin-right: 250px;
    padding: 20px;
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
  }


.app-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100vh;
}